@import './variable';


// Google Fonts

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;900&family=Oleo+Script:wght@400;700&display=swap');

/*====================
Reset CSS
======================*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline:none;
  vertical-align: middle;
}

body {
  font-family: $primaryFontFamily;
  font-size: $primaryFontSize;
  line-height: 24px;
  color: $blackColor;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: $blackColor;
  transition: all 0.3s linear;
}


/*====================
Common CSS
======================*/

.container {
  max-width: 73.125rem;  //1170px
  margin: 0 auto;
}



// Background CSS

.bg{
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 2;

  &::before{
    content: "";
    position: absolute;
    background-color: $grayColor;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: .8;
    z-index: -1;
  }
}


/*====================
Common Button CSS
======================*/
.btn{
  display: inline-block;
  color: $whiteColor;
  text-transform: capitalize;
  font-weight: 500;
  padding: 10px 20px;
  
  &.btn-box{
    background-color: $primaryColor;
    position: relative;
    overflow: hidden;
    z-index: 2;

    &::before{
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      left: -100%;
      top: 0;
      background-color: $secondaryColor;
      z-index: -1;
      transition: all 0.3s linear;
    }

    &:hover{
      &::before{
        left: 0;
      }
    }
  }

}


/*====================
Common Section Title
======================*/

.section-title{
  max-width: 700px;
  margin:0 auto 60px;
  
  &__subtitle{
    font-family: $secondaryFontFamily;
    font-size: $subtitleFontSize;
    text-transform: capitalize;
    font-weight: 400;
  }

  &__title{
    font-size: $titleFontSize;
    color: $primaryColor;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 600;
    display: inline-block;
    margin-bottom: 0px;
    padding: 15px 0;
    position: relative;

    &::before{
      content: '';
      position: absolute;
      width: 50%;
      height: 3px;
      background-color: $primaryColor;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      z-index: 2;
    }

    &::after{
      content: '';
      position: absolute;
      width: 100%;
      height: 1px;
      background-color: $lightGrayColor;
      bottom: 1px;
      left: 50%;
      transform: translateX(-50%);
      z-index: -1;
    }

    &--special{
      &::after{
        background-color: $grayColor;
        z-index: 1;
      }
    }

    
  }


  
}




/*====================
Margin & Padding
======================*/

@for $i from 1 through 10 {

  .mt-#{$i * 10} {
    margin-top: $i * 10px;
  }

  .mb-#{$i * 10} {
    margin-bottom: $i * 10px;
  }

  
  .pt-#{$i * 10} {
    padding-top: $i * 10px;
  }

  .pb-#{$i * 10} {
    padding-bottom: $i * 10px;
  }

}


/*====================
Alignment
======================*/

$list: left, right, center, justify;

@each $i in $list {
  .text-#{$i} {
    text-align: $i;
  }
}