// Font Family

$primaryFontFamily: 'Montserrat', sans-serif;
$secondaryFontFamily: 'Oleo Script', cursive;


// Common Color

$whiteColor: #ffffff;
$blackColor: #000000;




// Font Size

$primaryFontSize: 1rem;            //16px


