// Font Family

$primaryFontFamily: 'Montserrat', sans-serif;
$secondaryFontFamily: 'Oleo Script', cursive;


// Common Color

$whiteColor: #ffffff;
$blackColor: #333333;
$grayColor: #555555;
$lightGrayColor: #dddddd;


// Theme Color

$primaryColor: #FF5E18;
$secondaryColor: #FE2B00;
$bgColorPrimary: #f2f2f2;




// Font Size

$primaryFontSize: 1rem;              //16px
$subtitleFontSize: 1.5rem;           //24px
$secondaryTitleFontSize: 1.375rem;   //22px
$titleFontSize: 2rem;                //32px
$heroHeading: 3.125rem;              //50px


