@import '../base/variable';

/*====================
Contact Section
======================*/


.contact{

  &__content{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
  }

  &__img{
    height: 800px;
  }

  &__form{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 30px;
  }

  &__input{
    width: 100%;
    padding: 10px;
    border: 1px solid $lightGrayColor;
    font-size: $primaryFontSize;
    
    &:focus{
      border-color: $primaryColor;
      box-shadow: 0 0 0 .25rem rgba(255, 94, 24,.50);
    }

    &::placeholder{
      text-transform: capitalize;
    }
  }

  &__map{
    width: 100%;
    border: 0;
    height: 600px;
    border: 3px dashed $lightGrayColor;
    padding: 3px;

    &:hover{
      border-color: $primaryColor;
    }
  }

}