@import '../base/variable';

/*====================
CTA Top Section
======================*/


.top-cat{
  background-attachment: fixed;
  
  .section-title{
    color: $whiteColor;
    margin-bottom: 0;
  }
}