@import '../base/variable';

/*====================
Gallery Section
======================*/


.gallery{
  background-color: $bgColorPrimary;

  &__box{
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(4, 1fr);
    gap: 30px;
  }


  &__single{
    background-color: $whiteColor;
    border: 1px solid $lightGrayColor;
    padding: 3px;
    transition: all 0.3s linear;
    
    &:hover{
      border: 1px solid $primaryColor;

      .gallery__img{
        transform: scale(1.1);
      }
    }


    &--page{
      position: relative;
      overflow: hidden;

      &::before,&::after{
        content: '';
        position: absolute;
        width: 0;
        height: 100%;
        top: 0;
        background-color: $blackColor;
        z-index: 2;
        opacity: .8;
        transition: all 0.3s linear;
      }

      &::before{
        left: 0;
      }

      &::after{
        right: 0;
      }

      &:hover{
        &::before,&::after{
          width: 50%;
          cursor: crosshair;
        }
      }

    }

  }


  &__media-object{
    overflow: hidden;
  }


  &__img{
    transition: all 0.3s linear;
  }

}


