@import '../base/variable';

/*====================
Header Section
======================*/


.header{
  padding: 20px 0;
  position: fixed;
  z-index: 999;
  left: 0;
  right: 0;
  transition: all 0.3s linear;

  &.sticky{
    background-color: $blackColor;
    padding: 5px 0;
  }

  &__content{
    display: grid;
    grid-template-columns: 3fr 7fr;
    column-gap: 50px;
    align-items: center;
  }


  &__logo{
    width: 200px;
    height: auto;
  }


  &__navlist{
    display: grid;
    grid-template-columns: repeat(7,auto);
    justify-content: end;
    column-gap: 20px;
  }


  &__navlink{
    display: inline-block;
    text-transform: uppercase;
    font-weight: 600;
    color: $whiteColor;

    &:hover{
      color: $primaryColor;
    }
  }


}

